.nav {
    .navigation {
        position: fixed;
        height: 100vh;
        width: 20vw;
        background: #2b343b;
        box-shadow: 1vw 0 0 #4187f6;
        border-left: 1vw solid #2b343b;
        ul {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-left: 5px;
            padding-top: 10vh;
            li {
                position: relative;
                list-style: none;
                width: 100%;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                &.active {
                    background: #4187f6;
                    & a::before {
                        content: "";
                        position: absolute;
                        top: -30px;
                        right: 0;
                        width: 30px;
                        height: 30px;
                        background: #2b343b;
                        border-radius: 50%;
                        box-shadow: 1vw 15px 0 #4187f6;
                    }
                    & a::after {
                        content: "";
                        position: absolute;
                        bottom: -30px;
                        right: 0;
                        width: 30px;
                        height: 30px;
                        background: #2b343b;
                        border-radius: 50%;
                        box-shadow: 1vw -15px 0 #4187f6;
                    }
                }
                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    display: flex;
                    text-decoration: none;
                    color: #fff;
                    .icon {
                        position: relative;
                        display: block;
                        min-width: 60px;
                        height: 60px;
                        line-height: 70px;
                        text-align: center;
                        i {
                            position: relative;
                            font-size: 1.5em;
                            z-index: 1;
                        }
                    }
                    .title {
                        position: relative;
                        display: block;
                        padding-left: 1vw;
                        height: 60px;
                        line-height: 60px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media (max-width: 896px) {
    .nav {
        .navigation {
            width: 70px;
            overflow-x: hidden;
        }
    }
}
