@import "../../../scss/defaults.scss";
@import "../../../scss/variables.scss";
.nav {
    .navigation {
        position: fixed;
        height: 100vh;
        width: 20vw;
        background: #2b343b;
        box-shadow: 1vw 0 0 $primary-clr;
        border-left: 10px solid #2b343b;
        .logo {
            @include flex-center;
            height: 10vh;
            color: #fff;
            gap: 10px;
            i {
                color: #fff;
                font-size: 2em;
                z-index: 1;
            }
        }
        ul {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-left: 5px;
            padding-top: 10vh;
            li {
                position: relative;
                list-style: none;
                width: 100%;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                &.active {
                    background: $primary-clr;
                    & a::before {
                        content: "";
                        position: absolute;
                        top: -30px;
                        right: 0;
                        width: 30px;
                        height: 30px;
                        background: #2b343b;
                        border-radius: 50%;
                        box-shadow: 10px 15px 0 $primary-clr;
                    }
                    & a::after {
                        content: "";
                        position: absolute;
                        bottom: -30px;
                        right: 0;
                        width: 30px;
                        height: 30px;
                        background: #2b343b;
                        border-radius: 50%;
                        box-shadow: 10px -15px 0 $primary-clr;
                    }
                }
                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    display: flex;
                    text-decoration: none;
                    color: #fff;
                    -webkit-tap-highlight-color: transparent;
                    .icon {
                        position: relative;
                        display: block;
                        min-width: 60px;
                        height: 60px;
                        line-height: 70px;
                        text-align: center;
                        i {
                            position: relative;
                            font-size: 1.5em;
                            z-index: 1;
                        }
                    }
                    .title {
                        position: relative;
                        display: block;
                        padding-left: 10px;
                        height: 60px;
                        line-height: 60px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media (max-width: 896px) {
    .nav {
        .navigation {
            width: 70px;
            overflow-x: hidden;
            .logo {
                h2 {
                    display: none;
                }
            }
        }
    }
}
